<html>
    <head>
        <title></title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="../public/css/bootstrap.min.css">
     </head>
     <style>
     .jumbotron {
    padding-top: 100px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: rgb(211, 30, 30);
     </style>
     <body>
     <div class="container">
     <div class="col-xs-3 " >
     <h1 class="jumbotron ">Hello </h1>
     
     </div>
     <div class="col-xs-3 ">
     <h1 class="jumbotron ">Hello</h1>
     
     </div>
     <div class="col-xs-3 ">
     <h1 class="jumbotron ">Hello</h1>
     
     </div>
     <div class="col-xs-3">
     <h1 class="jumbotron ">Hello</h1>
     
     </div>
     
     
     
     </div>
         <h1 class="jumbotron">Hello Bootstrap</h1>
         <a href= "http://cybernauttech.com" role="button" class="btn btn-primary">Link</a>

         </body>
</html>