<html>
<head>
    <title>
        MyProject
    </title>
    <link rel="stylesheet"type =text/css; href =../public/style.css> 
    
</head>
<style>
#one{
    background-color: aqua;
}
.two{
    background-color:purple ; 
body{
background-color:yellow ; 
}
#nav li {
    background-color:yellow ; 
}
</style>
<body>
    <div>
    <h2><div id = "one"></div>
    My First Line </h2>
    <h2  style="background-color: teal; margin-left: 25px; margin-top: 50px; padding-top:25px; 
    text-align: center;"> 123</h2></div>
        My First Line </h1>
        <h1 style = "background-color: teal">
        </h1>
        <h1>
            My First Line 
        </h1>
        <div id = "nav">
            <ul>

            
           <li>  hello </li>
           <li> hello </li>
           <li> welcome</li>
            </ul>
        </div>
    </body>
</html>
